@model Shoe.Models.DBModels.User

<header class="header" id="navbar">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free ship cho đơn hàng trên 3 triệu đồng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                               
                                <div>Tiếng Việt</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Tiếng Anh</a></li>
                                    <li><a href="#">Tiếng Việt</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                @if(TempData["UserName"] == null){
                                   TempData.Keep();
                                <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i>Đăng nhập</a>
                                }
                                 @if(TempData["UserName"] != null){
                                TempData.Keep();
                                <a asp-controller="Account" asp-action="Index" id="account-link"><i class="fa fa-user"></i>@TempData["UserName"]</a>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a asp-controller="Account" asp-action="Index">Tài khoản</a></li>
                                    <li><a href="#">Đăng xuất</a></li>
                                </ul>
                                }
                            </div>
                            @if(TempData["UserName"] == null){
                            TempData.Keep();
                            <div class="header__top__right__auth">
                                <a  asp-controller="Account" asp-action="SignUp"><i class="fa fa-user"></i>Đăng ký</a>
                                
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="row fix">
                    <div class="col-lg-3">
                        <div class="header__logo logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/user/img/logo.png" alt="" style="max-width:75px; margin-top:-13px"></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                                <li><a asp-controller="Product" asp-action="ListProduct" asp-route-gender="Nam">Giày Nam</a>
                                    <ul class="header__menu__dropdown">
                                       @for(int i=0; i< (int)TempData["ListCategoryMaleSize"]; i++){
                                        string categoryName = (string)TempData["ListCategoryMale"+i];
                                        <li><a asp-controller="Product" asp-action="ListProduct" asp-route-gender="Nam" asp-route-category="@categoryName">@categoryName</a></li>
                                       }
                                    </ul>
                                </li>
                                <li><a asp-controller="Product" asp-action="ListProduct" asp-route-gender="Nữ">Giày Nữ</a>
                                    <ul class="header__menu__dropdown">
                                       @for(int i=0; i< (int)TempData["ListCategoryFemaleSize"]; i++){
                                        string categoryName = (string)TempData["ListCategoryFemale"+i];
                                        <li><a asp-controller="Product" asp-action="ListProduct" asp-route-gender="Nữ" asp-route-category="@categoryName">@categoryName</a></li>
                                       }
                                    </ul>
                                </li>
                                <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                     
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                <li><a href="wish-list.html"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-bag"></i>@if(@ViewBag.CartNumber!=null){<span>@ViewBag.CartNumber</span>}</a></li>
                                
                                 <div class="search">
                                    <i class="fa fa-search"></i>
                                    <form asp-controller="Product" asp-action="Search" method="get">
                                        <input type="text" placeholder="Tìm kiếm" name="keyword">
                                    </form>
                                </div>  
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    
    </header>