@{
    Layout = "_LayoutAdmin";
}
@using Shoe.Models.DBModels
@model Shoe.Models.DBModels.Product


<h3>Are you sure?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <table class="table">
            <tr>
                <td>
                    Product name
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductName)
                </td>
            </tr>
            <td>
                Price
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
            </tr>
            </tr>
            <td>
                Gender
            </td>
            <td>
                @Html.DisplayFor(model => model.Gender)
            </td>
            </tr>
            </tr>
            <td>
                Color
            </td>
            <td>
                @Html.DisplayFor(model => model.Color)
            </td>
            </tr>
            </tr>
            <td>
                Discription
            </td>
            <td>
                @Html.DisplayFor(model => model.Discription)
            </td>
            </tr>
            </tr>
            <td>
                Category
            </td>
            <td>
                @{
                    List<Category> list = (List<Category>)ViewData["Categorys"];
                    Category cate = list.Find(c => c.CategoryId == Model.CategoryId);
                }
                @Html.DisplayFor(modelItem => cate.CategoryName)
            </td>
            </tr>
        </table>

        @using (Html.BeginForm())
        {
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" style="color:red" />
                <button class="btn btn-default">@Html.ActionLink("Cancel", "Index")</button>
            </div>

        }
</div>
